@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  position: relative;
  width: 60px;
  height: 60px;
}

.circle {
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(to bottom right, #4c3fdf, #0000ff);
  border-radius: 50%;
  box-shadow: inset -10px -10px 20px rgba(0, 0, 0, 0.2);
}

.smile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(25deg);
  width: 25px;
  height: 8px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
}

.tail {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  width: 25px;
  height: 25px;
  background: linear-gradient(to bottom, #00d2ff, #0094ff);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}


.bubble-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.bubble {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #2254ea; /* Bubble color */
  border-radius: 50%;
  animation: bubble 1.5s infinite ease-in-out;
}

.bubble:nth-child(2) {
  animation-delay: 0.2s;
}

.bubble:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes bubble {
  0%, 100% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
}
